#nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav  ul li {
position: relative;
border-bottom:1px solid #ccc;
width: 200px;
float: left;
}

#nav li ul {
position: absolute;
z-index: 1;
display: none;
}

#nav ul li a {
display: block;
text-decoration: none;
color: #777;
background: #fff;
padding: 5px;
}

#nav  li:hover ul, #nav li.jshover ul {
display: block;
}

#nav li:hover  a, #nav li.jshover a {
color:#FFFFFF;
background: black;
}

#nav  li:hover ul a:hover, #nav li.jshover ul a:hover {
background-color:#cccccc;
background-image:none;
color:#FFFFFF;
}

#rettangoloalto { 
    width:100%; 
    height:300px; 
    background-color: lightskyblue; 
}


ul#menuprincipale {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 2;
    list-style: none;
}


ul#menuprincipale li {
    width: 150px;
    height: 20px;
    margin: 0x;
    float: left; /* elementi su singola riga */
}

ul#menuprincipale li a {

    line-height: 25px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}